<% if story.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <%= story.errors.full_messages.to_sentence %>
  </div>
<% end %>

<%= form_for story do |f| %>
  <div class="form-group">
    <%= image_tag story.cover_image.variant(resize: '1000x800') if story.cover_image.attached? %>
    <h3><%= f.label :cover_image %></h3>
    <%= f.file_field :cover_image, class: "form-control-file" %>
  </div>
  
  <div class="form-group">
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <h3><%= f.label :content %></h3>
    <%= f.text_area :content, rows: 10, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.submit :Draft, name: "save_as_draft", class: "btn btn-info" %>
    <%= f.submit :Publish, name: "publish", class: "btn btn-success" if story.may_publish? %>
    <%= f.submit :Unpublish, name: "unpublish", class: "btn btn-danger" if story.may_unpublish? %>
  </div>
  
<% end %>