<section>
  <div class="container">
    <!-- upper column -->
    <div class="row">
      <!-- upper left column -->
      <div class="col">

      </div>
      <!-- upper middle column -->
      <div class="col">

      </div>
      <!-- upper right column -->
      <div class="col">

      </div>
    </div>
    
    <hr>
    
    <!-- down column -->
    <div class="row">
      <!-- down left column -->
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card mb-3 border-white" style="max-width: 540px;">
          <% @stories.each do |story| %>  
            <div class="row no-gutters">
            
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to story.title, story_page_path(story.user.username, story), class: "text-dark text-decoration-none" %></h5>
                  <p class="card-text"><%= strip_tags(story.content).truncate(150) %></p>
                  <p class="card-text"><small class="text-muted">
                    <%= link_to story.user.username, user_page_path(story.user.username), class: "text-dark text-decoration-none" %> |
                    <%= story.updated_at.strftime('%F') %>
                  </small></p>
                </div>
              </div>

              <% if story.cover_image.attached? %>
                <div class="col-md-2">
                  <%= image_tag story.cover_image.variant(resize: '150X150'), class: "cover-image" %>
                </div>
              <% end %>

            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <!-- down right column -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <!-- Followers stories -->
        <div class="col-12"></div>

        <!-- Popular Top 4 -->
        <div class="col-12">
          <h2>Popular on WebMedium</h2>
          <hr>
          <% @story.each do |story| %>
            <h2><%= link_to story.title, story_page_path(story.user, story), class: "text-decoration-none text-dark" %></h2>
            <small><p><%= link_to story.user.username, user_page_path(story.user.username), class: "text-decoration-none text-dark" %></p>
            <p class="text-muted"><%= story.updated_at.strftime("%F") %></p></small>
          <% end %>
        </div>

        <!-- My Bookmark Recently -->
        <div class="col-12">

        </div>
        <hr>
        <!-- Footer -->
        <div class="col-12 remove-spots">
          <ul>
            <li><%= link_to "Help", "#", class: "text-decoration-none text-secondary" %></li>
            <li><%= link_to "Status", "#", class: "text-decoration-none text-secondary" %></li>
            <li><%= link_to "Writers", "#", class: "text-decoration-none text-secondary" %></li>
            <li><%= link_to "Blog", "#", class: "text-decoration-none text-secondary" %></li>
            <li><%= link_to "Careers", "#", class: "text-decoration-none text-secondary" %></li>
            <li><%= link_to "Privacy", "#", class: "text-decoration-none text-secondary" %></li>
            <li><%= link_to "Terms", "#", class: "text-decoration-none text-secondary" %></li>
            <li><%= link_to "About", "#", class: "text-decoration-none text-secondary" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>