<section>
  <div class="container">
    <!-- upper column -->
    <div class="row">
      <!-- upper left column -->
      <div class="col">

      </div>
      <!-- upper middle column -->
      <div class="col">

      </div>
      <!-- upper right column -->
      <div class="col">

      </div>
    </div>
    
    <hr>
    
    <!-- down column -->
    <div class="row">
      <!-- down left column -->
      <div class="col-8">
        <div class="card mb-3 border-white" style="max-width: 540px;">
          <% @stories.each do |story| %>  
            <div class="row no-gutters">
            
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to story.title, story_page_path(story.user.username, story), class: "text-dark text-decoration-none" %></h5>
                  <p class="card-text"><%= strip_tags(story.content).truncate(150) %></p>
                  <p class="card-text"><small class="text-muted">
                    <%= link_to story.user.username.capitalize, user_page_path(story.user.username), class: "text-dark text-decoration-none" %> |
                    <%= story.updated_at.strftime('%F') %>
                  </small></p>
                </div>
              </div>

              <% if story.cover_image.attached? %>
                <div class="col-md-2">
                  <%= image_tag story.cover_image.variant(resize: '150X150') %>
                </div>
              <% end %>

            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <!-- down right column -->
      <div class="col">

      </div>
    </div>
  </div>
</section>