<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <h1>My Stories</h1>
      <hr>
      <% @stories.each do |story| %>
        <h2>
          <%= link_to story.title, edit_story_path(story), class: "text-secondary" %>
          <%= content_tag :span, 'Publish', class: "badge badge-secondary" if story.published? %>
        </h2>
        <p><%= story.content %></p>
        <p>
          Last edited time:
          <% if Time.now - story.updated_at > 1.day %>
            <%= story.updated_at.strftime('%F') %>
          <% else %>
            <%= time_ago_in_words(story.updated_at) %>
          <% end %>
          <%= link_to "Edit", edit_story_path(story), class: "btn btn-sm btn-info" %>
          <%= link_to "Delete", story_path(story), method: :delete, class: "btn btn-sm btn-danger", 
              data: {confirm: "Are you sure?"} %>
        
        </p>
        <hr>
      <% end %>
    </div>
  </div>
</div>

